.inside {
    text-decoration: none;
    padding: 5px 5px 1px 0px;
  
    /* background-position-y: -0%;
    background-image: linear-gradient( transparent 50%, gold 50%);
    transition: background 500ms ease;
    background-size: auto 175%; */
  }
/* .inside:hover{
    background-position-y: 100%;
  } */