@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@500&family=Karla:wght@300&display=swap');

@font-face {
  font-family: 'Brux';
  src: local('Brux'), 
       url('../fonts/brux-regular-webfont.woff') format("woff"),
       url('../fonts/brux-regular-webfont.woff2') format("woff2");
}
@font-face {
  font-family: 'Rustico';
  src: local('Rustico'), 
       url('../fonts/Rustico-V2-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Atmosphere';
  src: local('Atmosphere'),
       url('../fonts/Atmosphere-Regular.ttf') format('truetype');
} 

html,
body {
  padding: 0;
  margin: 0;
  background-color: #17141d;
  color: white;
  font-family: 'Archivo', sans-serif;;
  /* font-family: 'Rustico', 'Rustico','Atmosphere' ; */
}

h1, h2, h3, h4, h5, h6 {
  color: white;
}

h1 {
  width: fit-content;
  font-size: 5em;
}

p {
  font-family:'Karla', sans-serif;
  font-size: 3em;
}